@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
     /* cursor: none; */
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
   
  }
}



::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(120, 3, 238);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  
  background: rgb(23, 1, 83);
}